*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(/scifi.png) no-repeat center center/ cover;
}

.container {
  border: 3px darkgray solid;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#main-heading {
  font-size: 50px;
  color: rgba(200, 0, 0, 0.7);
  padding: 0 20px 0 20px;
  margin: 20px 0 20px 0;
  text-transform: uppercase;
}

ul {
  margin-bottom: 20px;
}

.list-items {
  list-style: none;
  border: 1px solid black;
  font-size: 40px;
  border-radius: 10px;
  padding: 10px 0px 10px 0px;
  text-transform: capitalize;
  margin: 0 20px 0 20px;
  background-color: darkgrey;
  opacity: 0.7;
}

.footer {
  color: darkgray;
  padding: 0 20px 20px 0;
}
